---
import Layout from "../layouts/Default.astro";
---

<Layout
  title="Team Exploration Grants"
  description="Team exploration grants are a new initiative to support South Carolina teams attending out-of-state events. The intention is to give teams a little extra help to ensure that more teams in the state can compete out of the state at a Signature Event, National Event, or the World Championship."
>
  <section slot="header-contents" class="intro">
    <h1>Team Exploration Grants</h1>
  </section>

  <div slot="body" id="main-content">
    <h3>What</h3>
    <p>
      Team exploration grants are a new initiative to support South Carolina
      teams attending out-of-state events. The intention is to give teams a
      little extra help to ensure that more teams in the state can compete out
      of the state at a Signature Event, National Event, or the World
      Championship. Exploration grants help teams who might otherwise not travel
      to these events. For the 2024-2025 season, I will be sponsoring 6 grants
      of $500 each. If you are interested in supporting this initiative so we
      can offer additional support, please <a href="mailto:grants@bren.app"
        >contact me</a
      >.
    </p>
    <h3>When</h3>
    <p>
      Exploration Grants will be issued in two waves: at the beginning of the
      season and at the end of the season.
    </p>
    <br />
    <p><em>Wave 1</em> (1-3 receipents)</p>
    <ul>
      <li>Submissions Open: May 15, 2024</li>
      <li>Submissions Close: October 1, 2024</li>
      <li>Winners Announced On or Before: October 2, 2024</li>
    </ul>
    <p><em>Wave 2</em> (1-3 receipents)</p>
    <ul>
      <li>Submissions Open: March 1, 2025</li>
      <li>Submissions Close: March 10, 2025</li>
      <li>Winners Announced On or Before: March 11, 2025</li>
    </ul>
    <h3>Grant Requirements</h3>
    <ol>
      <li>
        Must be a registered REC Foundation team in South Carolina for the
        2024-2025 season.
      </li>
      <li>
        The team must have attended an official qualifying event in the
        2023-2024 season.
      </li>
      <li>
        The team has not attended an event outside of the state of South
        Carolina in the 2023-2024 season.
        <ol>
          <li>
            Preference will be given to organizations that have not attended
            out-of-state events in the past 3 seasons.
          </li>
          <li>
            Preference may be given to teams with a high percentage of students
            on free/reduced lunch.
          </li>
          <li>This requirement may be waived depending on the applicants</li>
        </ol>
      </li>
      <li>
        The team commits to attending an official tournament outside of South
        Carolina. This can be a Signature Event, a Regional Championship (for
        ADC), the World Championship, the CREATE US Open, or any other “high
        production” out-of-state event.
      </li>
      <li>
        The grant will be in the form of a check or digital bank transfer. The
        receiving party must be affiliated with the team (i.e., school account,
        coach, parent).
      </li>
      <li>
        The grant may be spent on any expenses incurred in attending an
        out-of-state event, such as registration, travel, or accommodations. You
        should not spend grant money on parts that will directly be on your
        robot. You should indicate how you intend to spend the money in your
        application.
      </li>
      <li>Some requirements may be waived in exceptional circumstances.</li>
    </ol>
    <a href="https://forms.gle/dhZdaQHLYHti7piUA">Application Link</a>
    <p>
      Please direct any questions to <a href="mailto:grants@bren.app"
        >grants@bren.app</a
      >
    </p>
  </div>
</Layout>

<style>
  div#main-content {
    max-width: var(--container);
    margin: 0 auto;
  }

  h4 {
    margin-top: 1rem;
    margin-bottom: 0.25rem;
  }

  p {
    margin: 0px;
  }
</style>
