---
import Header from "../components/Header.astro";

interface Props {
  title: string;
  description: string;
  hasHeader?: boolean;
}

const { title, description, hasHeader } = Astro.props;

const showHeader = hasHeader === undefined || hasHeader === true;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    {
      showHeader && (
        <Header>
          <slot name="header-contents" />
        </Header>
      )
    }
    <main>
      <slot name="body" />
    </main>
  </body>
</html>

<style is:global>
  @font-face {
    font-family: "Sansita";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/sansita/v5/QldLNTRRphEb_-V7JKWUWX5-ww.woff2)
      format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
      U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v14/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7l.woff2)
      format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
      U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: "Fira Code";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/firacode/v10/uU9eCBsR6Z2vfE9aq3bL0fxyUs4tcw4W_D1sJVD7Ng.woff2)
      format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
      U+2215, U+FEFF, U+FFFD;
  }

  :root {
    --dark: #18181b;
    --light: #f4f4f5;

    /* Custom Colors */
    --blurple: #a29bfe;
    --blorange-1: #a29bfe;
    --blorange-2: #bc92f4;
    --blorange-3: #d28ae7;
    --blorange-4: #e481d8;
    --blorange-5: #f379c6;
    --blorange-6: #fd73b2;
    --blorange-7: #ff6f9d;
    --blorange-8: #ff6f88;
    --blorange-9: #ff7173;
    --blorange-10: #ff765e;
    --orange: #ff765e;

    /* Container Width */
    --container: 1280px;
  }

  body,
  html {
    font-family:
      "Source Sans Pro",
      -apple-system,
      BlinkMacSystemFont,
      avenir next,
      avenir,
      segoe ui,
      helvetica neue,
      helvetica,
      Cantarell,
      Ubuntu,
      roboto,
      noto,
      arial,
      sans-serif;
    color: var(--light);
    background-color: var(--dark);
    margin: 0;
    height: 100%;
    box-sizing: border-box;
    font-size: 1.1rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Sansita", sans-serif;
    font-weight: 700;
  }

  h1 {
    font-size: 3rem;
  }

  p {
    line-height: 1.2;
    margin-top: 0.25rem !important;
  }

  a {
    color: var(--blurple);
    transition: 50ms ease-in-out color;
  }

  a:hover {
    color: var(--blorange-7);
  }

  img {
    max-width: 100%;
  }

  main {
    max-width: var(--container);
    margin: 0 auto;
    padding: 1.5rem 1.5rem;
    box-sizing: border-box;
    margin-bottom: 4rem;
  }
</style>
